{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}  
    <h3>My Top Artists</h3> 
    {# {{ results }}        #}
      <table class="w-100">
        <thead>
          <tr>
            <th></th>
            <th>Artist</th>
            <th>Genres</th>            
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for i in results['items'] %}
            <tr>
              <td><img src="{{ i['images'][2]['url'] }}" alt="" srcset="" style="max-width: 64px;"></td>
              <td><h6><a href="{{ i['external_urls']['spotify']}}" target="_blank">{{ i['name'] }}</a></h6></td>
              <td>
                {% for g in i['genres'] %}
                  <small>{{ g }}, </small>
                {% endfor %}
              </td>                            
              <td><a class="btn btn-primary" style="font-size: 14px;" href="/get-similar-songs?band={{i['name']}}" target="_blank">Create Playlist from GPT</a></td>              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    
{% endblock %}
